<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Das folgende Mitglied wurde aus der Kontaktdatenbank entfernt:</p>
    <p><%="#{@person.first_name} #{@person.last_name}"%></p>
    <p><%=@person.address%></p>
    <p><%=@person.zip_code%></p>
    <p><%=@person.email%></p>
  </body>
</html>
