<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ein neues Mitglied hat sich registriert. Bitte begrüsst dieses Mitglied.</p>
    <p><%= @person.first_name %></p>
    <p><%= @person.last_name %></p>
    <p><%= @person.email %></p>
    <p><%= @person.zip_code %></p>
  </body>
</html>
