<%
  @sheet = Sheet::Admin.new(self)
  title "Externe Formulare"

  def form_loader(role)
    hostname = ENV.fetch('RAILS_HOST_NAME', 'localhost:3000')
    scheme = Rails.env.development? ? 'http' : 'https'

    <<-END.gsub(/^ {6}/, '')
      <div id="hitobito-external-form">Formular wird geladen…</div>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script src="#{scheme}://#{hostname}/external_forms/loader.js?role=mitglied&language=de"></script>
    END
  end

  role_options = {
    "Mitglied" => "mitglied",
    "SympathisantIn" => "sympathisant",
    "Newsletter" => "medien_und_dritte"
  }

  language_options = {
    "Deutsch" => "de",
    "English" => "en",
    "Français" => "fr",
    "Italiano" => "it",
  }
%>

<div id="main">
  <h2>Optionen</h2>
  <label>
    Rolle <%= select_tag "ext_form_role", options_for_select(role_options), class: 'form-select form-select-sm' %>
  </label>
  <label>
    Sprache <%= select_tag "ext_form_language", options_for_select(language_options), class: 'form-select form-select-sm' %>
  </label>

  <h2 class="mt-3">Formular</h2>
  <%= render partial: "form_textarea", locals: { content: form_loader("mitglied") } %>
  <br/>
  <%= action_button 'Test', external_forms_test_url, nil, id: 'test_button' %>
</div>

<script>
  function openTestWindow(url) {
    var role = $("#ext_form_role").val();
    var language = $("#ext_form_language").val();
    console.log(url + "?role=" + role + "&language=" + language);
    var win = window.open(url + "?role=" + role + "&language=" + language, '_blank');
    win.focus();
  }
  function external_forms_index(){
    $("#ext_form_role, #ext_form_language")
      .off("change")
      .on("change", on_select_change);
  }
  function on_select_change(){
    var role = $("#ext_form_role").val();
    var language = $("#ext_form_language").val();
    var link = $('#test_button')

    url = link[0]['href'].split('?')[0];
    url += "?role=" + role + "&language=" + language;
    link[0]['href'] = url;

    var textarea = $("textarea.external_forms");
    textarea.val(
      textarea.val().replace(
        /js\?role.*\">/gi,
        "js?role=" + role + "&language=" + language + "\">"
      )
    )
  }
  $(document).on("turbolinks:load", external_forms_index)
</script>
