<strong>Mitglied</strong>
<br/>
<%= text_area_tag(:mitglied, "<form action='#{@url}' method='post'>
    <label for='first_name'>First name</label>
    <input name='externally_submitted_person[first_name]' type=text id='first_name'/>
    <label for='first_name'>Last name</label>
    <input name='externally_submitted_person[last_name]' type=text id='last_name'/>
    <label for='first_name'>Email name</label>
    <input name='externally_submitted_person[email]' type=email id='email'/>
    <label for='zip_code'>Zipcode name</label>
    <input name='externally_submitted_person[zip_code]' type=text id='zip_code'/>
    <input type='hidden' name='externally_submitted_person[role]' value='mitglied'/>
    <input type=submit value='create'/>
  </form>
                  ", size: "50x20")%>
<br/>
<strong>Symphatisant</strong>
<br/>
<%=h "<form action='#{@url}' method='post'>
    <label for='first_name'>First name</label>
    <input name='externally_submitted_person[first_name]' type=text id='first_name'/>
    <label for='first_name'>Last name</label>
    <input name='externally_submitted_person[last_name]' type=text id='last_name'/>
    <label for='first_name'>Email name</label>
    <input name='externally_submitted_person[email]' type=email id='email'/>
    <label for='zip_code'>Zipcode name</label>
    <input name='externally_submitted_person[zip_code]' type=text id='zip_code'/>
    <input type='hidden' name='externally_submitted_person[role]' value='symphatisant'/>
    <input type=submit value='create'/>
  </form>"%>
<br/>
<strong></strong>
<br/>
<%=h "<form action='#{@url}' method='post'>
    <label for='first_name'>First name</label>
    <input name='externally_submitted_person[first_name]' type=text id='first_name'/>
    <label for='first_name'>Last name</label>
    <input name='externally_submitted_person[last_name]' type=text id='last_name'/>
    <label for='first_name'>Email name</label>
    <input name='externally_submitted_person[email]' type=email id='email'/>
    <label for='zip_code'>Zipcode name</label>
    <input name='externally_submitted_person[zip_code]' type=text id='zip_code'/>
    <input type='externally_submitted_person[hidden]' name='role' value='adressverwaltung'/>
    <input type=submit value='create'/>
  </form>"%>
