<strong>Mitglied/Mitglied</strong>
<%=h "<form action='' method='post'>
    <input name='email' type=email/>
    <input name='zipcode' type=text/>
    <input type='hidden' name='role' value='mitglied'/>
    <input type=submit value='create'/>
  </form>"%>
<br/>
<br/>
<strong>Mitglied/Symphatisant</strong><br/>
<%=h "<form action='' method='post'>
    <input name='email' type=email/>
    <input name='zipcode' type=text/>
    <input type='hidden' name='role' value='symphatisant'/>
    <input type=submit value='create'/>
  </form>"%>
<br/>
<br/>
<strong>Kontake/Kontakt</strong><br/>
<%=h "<form action='' method='post'>
    <input name='email' type=email/>
    <input name='zipcode' type=text/>
    <input type='hidden' name='role' value='kontakt'/>
    <input type=submit value='create'/>
  </form>"%>
