<div id="hitobito-external-form">Bitte neu laden...</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="<%= external_forms_loader_url(language: @language, role: @role) %>"></script>
