/* Logo */


#page-header {
  a {
    // header links on the right side
    color: $blue;
    &:hover {
      color: $blueDark;
    }
  }
}

textarea.external_forms {
  width: auto;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
